a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif !important;
}

.h-shadow-black {
  filter: drop-shadow(rgba(0, 0, 0, 0.4) 0px 5px 3px) !important;
}

.h-shadow-blue {
  filter: drop-shadow(rgba(0, 112, 243, 0.4) 0px 5px 3px) !important;
}
